// Variables only for NavBar and NavButtons

$wikicini-navbar-border: #800000;
$wikicini-navbar-background: #FF0000;
$wikicini-navbar-thickness: 1px;
$wikicini-navbar-logo-height: 45px;
$wikicini-navbar-logo-padding: 8px;