@import 'navbar.component.variable';
@import '../../assets/scss/_colors';

.wikicini-navbar {
  border-bottom: solid $wikicini-navbar-thickness $wikicini-navbar-border;
  height: $wikicini-navbar-logo-height + (2 * $wikicini-navbar-logo-padding);
  position: relative;
 
  &__logo {
    display:inline-block;
    font-size: $wikicini-navbar-logo-height;
    padding: $wikicini-navbar-logo-padding;
  }

  &__region-button {
    display:inline-block;
    font-size: $wikicini-navbar-logo-height;
    padding: $wikicini-navbar-logo-padding;
    padding-left: 2px;
    padding-right: 22px;
    width: 50px;
  }

  &__search-input {
    border-right: 0;
    display:inline-block; 
    padding: $wikicini-navbar-logo-padding; 
    padding-left: 0;
    padding-right: 0;
  }

  &__search-button {
    border-left: 0;
    display:inline-block;
    font-size: $wikicini-navbar-logo-height;
    padding: $wikicini-navbar-logo-padding;
    padding-left: 0;
  }
}
