<div class="wikicini-navbar">
  
  <div class="wikicini-navbar__logo">
    <wikicini-navbar-icon iconClass="wikicini-icon-logo">
    </wikicini-navbar-icon>
  </div>

  <div class="wikicini-navbar__region-button">
    <wikicini-input type="button" value="Lang" 
      buttonClass="wikicini-navbar-input__button">
    </wikicini-input>
  </div>

  <div class="wikicini-navbar__search-input">
    <wikicini-input type="text" 
      buttonClass="wikicini-navbar-input__text"
      placeHolder="keyword search"
      sizeNumber="20">
    </wikicini-input>
  </div>

  <div class="wikicini-navbar__search-button">
    <wikicini-input type="button" value="Serach"
      buttonClass="wikicini-navbar-input__search">
    </wikicini-input>
  </div>
  
</div>
