<div class="wikicini-navbar">
  
  <div class="wikicini-navbar__logo">
    <wikicini-navbar-icon iconClass="wikicini-icon-logo">
    </wikicini-navbar-icon>
  </div>

  <div class="wikicini-navbar__region-button">
    <wikicini-button type="button"
      value="Lang"
      buttonClass="wikicini-navbar-button__search"
      (click)="submitSearch(inputValue)">
    </wikicini-button>
  </div>

  <div class="wikicini-navbar__search-input">
    <wikicini-input type="text" 
      buttonClass="wikicini-navbar-input__text"
      placeholder="keyword search"
      sizeNumber="20"
      [(value)]="inputValue">
    </wikicini-input>
  </div>

  <div class="wikicini-navbar__search-button">
    <wikicini-button type="button"
    value="Serach"
    buttonClass="wikicini-navbar-button__search"
    (click)="submitSearch(inputValue)">
    </wikicini-button>
  </div>
  {{searchInput}}
</div>
