<div class="wikicini-navbar">
  
  <div class="wikicini-navbar__logo">
    <wikicini-navbar-icon iconClass="wikicini-icon-logo">
    </wikicini-navbar-icon>
  </div>

  <div class="wikicini-navbar__region-button">
    <wikicini-button type="button"
      value="Lang"
      buttonClass="wikicini-navbar-button__search"
      (click)="ShowLanguageWindow()">
    </wikicini-button>
  </div>

  <div class="wikicini-navbar__search-input">
    <wikicini-input type="text"
      buttonClass="wikicini-navbar-input__text"
      placeholder="keyword search"
      sizeNumber="20"
      [(value)]="inputValue">
    </wikicini-input>
  </div>

  <div class="wikicini-navbar__search-button">
    <wikicini-button type="button"
    value="Serach"
    buttonClass="wikicini-navbar-button__search"
    (click)="submitSearch(inputValue)">
    </wikicini-button>
  </div>
</div>

<wikicini-popup-window (click)="ShowLanguageWindow()"
  [(popupShow)]="showLangunage"
  title="Please choose your language">
    <ul class="list-group">
      <li class="list-group-item" 
        *ngFor="let item of this.langDetail">
        <wikicini-input type="checkbox"
          value="{{ item }}">
        </wikicini-input>
        {{ getLanguageName(item) }} ({{ item }})
      </li>
    </ul>
</wikicini-popup-window>
