@import '../../assets/scss/_colors';

.wikicini-movie-list {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  order-color: $wikicini-gray $wikicini-light-gray $wikicini-light-gray;
  border-style: solid;
  border-width: 1px 0;

  &__image {
    width: 150px;
  }
}