<div class="wikicini-movie-list">
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object wikicini-movie-list__image" src="https://image.tmdb.org/t/p/w500/kBf3g9crrADGMc2AMAMlLBgSm2h.jpg">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">FILM NAME</h4>
    <div class="list-group">
      <button type="button" class="list-group-item">orginalName</button>
      <button type="button" class="list-group-item">popularity</button>
      <button type="button" class="list-group-item">Morbi leo risus</button>
      <button type="button" class="list-group-item">Porta ac consectetur ac</button>
      <button type="button" class="list-group-item">Vestibulum at eros</button>
    </div>
  </div>
  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
</div>
</div>
