@import 'input.component.variable';
@import '../../assets/scss/_colors';

.wikicini-navbar-input {
  
  &__button {
    border: none;
    color: $wikicini-white;
    background-color: $wikicini-red;
    line-height: $input-component-line-height;
    font-size: $input_component_font_size;
    vertical-align: top;
  }

  &__text {
    vertical-align: top;
    line-height: $input-component-line-height;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid $wikicini-red;
  }

  &__search {
    border: none;
    color: $wikicini-white;
    background-color: $wikicini-red;
    line-height: $input-component-line-height;
    font-size: $input_component_font_size;
    vertical-align: top;
  }
}
