@import 'button.component.variables';
@import '../../assets/scss/_colors';

.wikicini-navbar-input {

    &__search {
    border: none;
    color: $wikicini-white;
    background-color: $wikicini-red;
    line-height: $input-component-line-height;
    font-size: $input_component_font_size;
    vertical-align: top;
  }	
}