@import 'button.component.variables';
@import '../../assets/scss/_colors';
@import '../../assets/scss/_fonts';

.wikicini-navbar-button {

    &__search {
    border: none;
    background-color: $wikicini-red;
    color: $wikicini-white;
    font-family: 'wikicinema-icons';
  }
}